<div class="row marketing">
  <div class="col-lg-6">
  <h4>Alexa Skill for Tradewinds Sailing School and Club.</h4>

  <ul>
    <li><a href="<%= page_path(@conn, :privacy) %>">Privacy</a>
    <li><a href="<%= page_path(@conn, :terms) %>">Terms of Use</a>
    <li><a href="<%= page_path(@conn, :contact) %>">Contact</a>
  </ul>

  <div class="col-lg-6">
  </div>
</div>
